.form-control  {
    background-color: lightgray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
}

#submit {
    background-color: green;
    border-style: dashed;
}